.btn {
  display: inline-block;

  height: 40px;

  font-size: 14px;
  font-weight: 400;

  text-align: center;

  vertical-align: middle;
  line-height: 40px;

  white-space: nowrap;

  user-select: none;
  cursor: pointer;

  padding: 0 20px;

  border-radius: 20px;

  box-sizing: border-box;
  border: 1px solid transparent;

  &,
  &:focus {
    outline: none;
  }
}

.btn[disabled],
.btn--disabled {
  pointer-events: none;
  cursor: default;

  opacity: 0.6;
}

.btn--filled {
  background-color: #0090f0;
  color: #ffffff;

  &:hover {
    background-color: #048eea;
  }

  &:active {
    background-color: #006ef0;
  }
}

.btn--outlined {
  background-color: #ffffff;
  color: #048eea;

  border-color: #0090f0;

  &:hover {
    color: #ffffff;
    background-color: #048eea;
    border-color: transparent;
  }

  &:active {
    color: #ffffff;
    background-color: #006ef0;
    border-color: transparent;
  }
}

.btn--outlined.btn--green {
  color: #77aa37;
  border-color: #77aa37;

  &:active,
  &:hover {
    color: #ffffff;
    background-color: #77aa37;
    border-color: transparent;
  }
}
