@import '../../common/variables';

.section--documents {
  .cart {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .cart__content {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 0;
  }

  .cart__title {
    display: none;
  }

  .docs__intro {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 25px;
  }

  .doc-list {
    display: block;
  }

  .doc {
    display: block;
    width: 100%;

    img {
      width: 100%;
    }

    .doc__descr {
      font-size: 14px;
      color: #048eea;
      padding-top: 10px;
    }
  }

  .doc {
    margin-top: 16px;

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  .docs__scroll-to-top-btn {
    position: fixed;
    right: 10px;
    bottom: 134px;

    display: block;
    width: 56px;
    height: 56px;

    background-image: url('./assets/scroll-to-top-btn.svg');
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
    user-select: none;
  }

  .docs__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-top: 40px;
  }
}

@media (min-width: $desktop-layout-min-width) {
  .section--documents {
    .section__title {
      display: none;
    }

    .section__content {
      margin-top: 0;
    }

    .cart {
      padding-top: 21px;
      padding-left: 35px;
      padding-right: 35px;
    }

    .cart__title {
      text-align: left;
      display: block;
    }

    .cart__content {
      padding-left: 0;
      padding-right: 0;
      margin-top: 35px;
    }

    .docs__intro {
      margin-bottom: 35px;
    }

    .docs__scroll-to-top-btn {
      display: none;
    }

    .docs__btn {
      display: none;
    }

    .doc-list {
      display: flex;
      flex-wrap: wrap;
    }

    .doc {
      width: (100% / 3);
      box-sizing: border-box;

      $padding: 20px;

      &:nth-child(1),
      &:nth-child(3n+4) {
        padding-right: $padding;
      }

      &:nth-child(2),
      &:nth-child(3n+5) {
        padding-left: $padding;
        padding-right: $padding;
      }

      &:nth-child(3),
      &:nth-child(3n+6) {
        padding-left: $padding;
      }

      margin-top: 44px;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 0;
      }
    }
  }
}
