<div class="desktop-menu">
  <!-- desktop menu items -->
  <a href="#" class="desktop-menu__item" data-is-selected>Главная</a>
  <a href="#" class="desktop-menu__item">О компании</a>
  <a href="#" class="desktop-menu__item">Документы</a>
  <a href="#" class="desktop-menu__item">Наши сотрудники</a>
  <a href="#" class="desktop-menu__item">Контакты</a>
  <!-- end desktop menu items -->
</div>
