@import '../../variables';

.desktop-menu {
  display: block;
  width: 100%;

  font-size: 0;
}

.desktop-menu__item {
  font-weight: 400;
  font-size: 19px;

  margin-top: 4px;
  line-height: 10px;
  vertical-align: bottom;

  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
    outline: none;
    color: $desktop-menu-item-color;
  }

  &:active,
  &:hover {
    color: $desktop-menu-item-color;
  }

  box-sizing: border-box;
  padding: 0 10px;
  &:last-child {
    padding-bottom: 0;
  }

  &[data-is-selected] {
    color: $desktop-menu-item-color;
    pointer-events: none;
    cursor: default;
  }
}
