.back-btn {
  display: inline-flex;
  align-items: center;

  font-size: 14px;
  font-weight: 400;

  line-height: 14px;
  vertical-align: middle;

  user-select: none;
  cursor: pointer;

  &,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
    color: #7e98b0;
    outline: none;
  }

  &::before {
    content: '';

    display: block;
    width: 10px;
    height: 17px;

    margin-right: 10px;

    background-image: url('./assets/arrow-left.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.back-btn--with-top-margin {
  margin-top: 30px;
}
