<label class="checkbox checkbox--with-top-margin">
  <input type="checkbox" name="user-agreements" required>
  <span class="checkbox__title">Согласен с обработкой персональных данных</span>
</label>
