{% extends '../../common/page-base/index.twig' %}

{% block extraClass %}with-displaced-sidebar{% endblock %}

{% block title %}Оплата online{% endblock %}

{% block content %}
  <div class="section">
    <div class="section__title">Оплата online</div>
    <div class="section__content">

      <form data-online-payment action="/online-payment" method="post" class="online-payment">
        <input data-hidden-input type="hidden" name="use-any-value-here">
        <button type="button" data-hidden-input-value="1" class="btn btn--filled">Оплата как физлицо</button>
        <button type="button" data-hidden-input-value="2" class="btn btn--filled">Оплата как юрлицо</button>
        <button type="button" data-hidden-input-value="3" class="btn btn--outlined">Отменить оплату</button>
      </form>

    </div>
  </div>
{% endblock %}
