<div class="page-header-desktop">
  <div class="page-header-desktop__inner">
    <a href="/" class="page-header-desktop__logo"></a>
    <div class="page-header-desktop__menu">
      {% include '../desktop-menu-2/index.twig' %}
    </div>
  </div>
  <div class="page-header-desktop__tizer">
    <div class="page-header-desktop__tizer-title">Продажа и доставка нефтепродукта</div>
  </div>
</div>
