<!-- header -->
<div class="page-header page-header--mobile">
  <div class="page-header__search-icon"></div>
  <a href="/">{% include '../logo/index.twig' %}</a>
  {#<div class="page-header__desktop-menu">#}
  {#{% include '../desktop-menu/index.twig' %}#}
  {#</div>#}
</div>

<!-- end header -->
