<div class="cart cart--desktop-search">
  <div class="cart__content">
    <form action="/search" method="post" class="search-form--desktop">
      <input type="text" nmae="search" placeholder="Поиск">
      <div class="search-icon--desktop"></div>
    </form>
  </div>
</div>
