.sidebar .cart.cart--desktop-search {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 14px;

  .cart__content {
    padding: 0;
  }
}

.search-form--desktop {
  display: flex;
  width: 100%;

  input {
    font-size: 16px;
  }

  .search-icon--desktop {
    display: block;
    width: 25px;
    height: 25px;

    background-image: url('./assets/search-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  input + .search-icon--desktop {
    margin-left: 10px;
  }
}
