<div class="product-total-cost">
  <div class="product-total-cost__title">Итого</div>
  <div class="product-total-cost__value">
    <span data-total-output>12000</span><span class="product-total-cost__unit">&#8381;</span>
  </div>
</div>
