@import '../../../common/variables';

.section--prices {
  @media (min-width: $desktop-layout-min-width) {
    display: none;
  }
}

.price__view {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 40px;

  box-sizing: border-box;

  border: 1px solid #bed7ef;

  border-radius: 20px;

  background-color: #f3f6f9;

  margin: 20px auto 0;
}

.price__view-value {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 27px;
  color: #000000;
}

.price__view-unit {
  font-weight: 400;
  font-size: 18px;
  color: $text-color;
  margin-left: 5px;
}
