.section--person {
  .cart {
    margin-bottom: 28px;
  }

  .person {
    display: block;
    width: 100%;

    img {
      width: 100%;
      height: auto;
      outline: none;
    }
  }

  .person__name {
    display: block;
    width: 100%;

    font-size: 20px;
    color: #000000;
  }

  .person__position {
    display: block;
    width: 100%;
    font-size: 18px;
    margin-top: 4px;
    color: #334c5c;
  }

  .person__details {
    h4 {
      font-size: 19px;
      margin-top: 20px;
      margin-bottom: 16px;
      color: #394c5c;
    }

    ul {
      $padding: 16px;
      padding-left: $padding;
      padding-right: $padding;

      list-style: none;
    }

    li::before {
      content: '';

      position: relative;
      top: -3px;
      left: -10px;

      display: inline-block;
      width: 5px;
      height: 5px;

      border-radius: 50%;

      background: #048eea;
    }

    p, li {
      font-size: 18px;
    }

    li + li {
      margin-top: 12px;
    }

    section + section {
      margin-top: 44px;
    }
  }

  .person__back-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin-top: 68px;
    padding-bottom: 14px;

    .btn {
      &,
      &:hover,
      &:visited,
      &:active,
      &:focus {
        text-decoration: none;
        font-size: 16px;
      }
    }
  }
}
