@import '../../variables';

.section {
  display: block;
  width: 100%;

  box-sizing: border-box;
  padding: $default-padding;

  @media (min-width: $desktop-layout-min-width) {
    max-width: $fixed-width-min-width;
    padding: 0;
    padding-bottom: 20px;
  }
}

.section__title {
  display: block;
  width: 100%;

  text-align: center;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  font-family: Akrobat;
}

.section__content {
  display: block;
  width: 100%;
}

.section__title + .section__content {
  margin-top: $default-padding;
}
