@import '../../../common/variables';

.features__list {
  display: block;
  width: 100%;

  margin-top: 20px;
  margin-bottom: 20px;
}

.features__item {
  display: flex;
  align-items: center;

  width: 100%;

  & + & {
    margin-top: 10px;
  }
}

.features__item-title {
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.features__item-icon {
  position: relative;

  display: block;
  width: 80px;
  height: 80px;

  background-color: #ffffff;

  border-radius: 50%;
  box-shadow: 0 0 6px 0 #cbeaff;

  flex-shrink: 0;

  margin-right: 20px;

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: block;

    path {
      fill: #048eea;
    }
  }
}

@media (min-width: $desktop-layout-min-width) {
  .section--features {
    box-sizing: border-box;
    border: 1px solid #AAC9E7;
    border-radius: 4px;
    padding: 22px 40px;
    margin-top: 14px;
    margin-bottom: 32px;

    .section__title {
      text-align: left;
      margin-bottom: 50px;
      font-size: 24px;
      color: #000000;
    }
  }

  .features__list {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0;

    margin-top: 60px;
    margin-bottom: 14px;
  }

  .features__item {
    flex-direction: column;
    align-items: center;

    width: 150px;

    box-sizing: border-box;

    &:nth-child(even) {
      padding-left: 10px;
    }

    &:nth-child(1) {
      svg {
        width: 46px;
      }
    }

    &:nth-child(2) {
      svg {
        width: 56px;
      }
    }

    &:nth-child(3) {
      svg {
        width: 45px;
      }
    }

    &:nth-child(4) {
      svg {
        width: 44px;
      }
    }
  }

  .features__item-title {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    width: 150px;
  }

  .features__item-icon {
    margin-right: 0;

    width: 114px;
    height: 114px;
  }
}
