<div data-mobile-btn class="mobile-menu__btn">
  <div class="mobile-menu__btn-bars">
    <div class="mobile-menu__btn-bar"></div>
    <div class="mobile-menu__btn-bar"></div>
    <div class="mobile-menu__btn-bar"></div>
  </div>
</div>
