<div data-mobile-menu class="mobile-menu">
  <div class="mobile-menu__inner">
    <!-- mobile menu items -->
    <a href="#" class="mobile-menu__item" data-is-selected>Главная</a>
    <a href="#" class="mobile-menu__item">О компании</a>
    <a href="#" class="mobile-menu__item">Документы</a>
    <a href="#" class="mobile-menu__item">Наши сотрудники</a>
    <a href="#" class="mobile-menu__item">Контакты</a>
    <!-- end mobile menu items -->
  </div>
</div>
