@import '../../variables';

@at-root {
  $animation-duration: 0.3s;
  $menu-bar-width: 15px;
  $menu-bar-height: 3px;
  $space-between-menu-bars: 2px;

  :export {
    desktopLayoutMinWidth: $desktop-layout-min-width;
  }

  .mobile-menu__btn {
    position: absolute;
    right: $default-padding;
    top: $default-padding;

    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    border-radius: 50%;

    box-sizing: border-box;

    border: 1px solid #cadff3;

    cursor: pointer;
  }

  .mobile-menu__btn-bars {
    position: relative;
    display: block;
    width: $menu-bar-width;
    height: $menu-bar-height * 3 + $space-between-menu-bars * 2;
  }

  .mobile-menu__btn-bar {
    position: absolute;
    left: 0;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: $menu-bar-height + $space-between-menu-bars;
    }

    &:nth-child(3) {
      top: $menu-bar-height * 2 + $space-between-menu-bars * 2;
    }

    display: block;
    width: $menu-bar-width;
    height: $menu-bar-height;
    background-color: #334c5c;
  }

  .mobile-menu {
    position: absolute;
    left: 0;
    top: 0;

    transform: translateY(-100%);

    display: block;
    width: 100%;

    box-sizing: border-box;
    padding-bottom: 6px;

    z-index: 99;
  }

  .mobile-menu__inner {
    display: flex;
    flex-direction: column;

    width: 100%;

    box-sizing: border-box;
    padding: $default-padding $default-padding 0;

    background-color: #f3f6f9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .mobile-menu__item {
    display: inline-block;

    font-weight: 400;
    font-size: 19px;

    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid #bed7ef;

    &:last-child {
      border-bottom: none;
    }

    &,
    &:hover,
    &:active,
    &:visited {
      text-decoration: none;
      outline: none;

      color: $text-color;
    }

    &:active,
    &:hover {
      color: #048eea;
    }

    &[data-is-selected] {
      color: #048eea;
      pointer-events: none;
      cursor: default;
    }
  }

  [data-mobile-menu-initialed] {
    body {
      transition: margin-top $animation-duration ease;
    }

    .mobile-menu {
      transition: transform $animation-duration ease;
    }

    .mobile-menu__btn-bar {
      transition: all $animation-duration ease;
    }
  }

  [data-active-mobile-menu] {
    body {
      overflow: hidden;
    }

    .mobile-menu {
      transform: translateY(0);

      & ~ * {
        opacity: 0.3;
        pointer-events: none;
      }
    }

    .mobile-menu__btn-bar {
      &:nth-child(1),
      &:nth-child(3) {
        top: $menu-bar-height + $space-between-menu-bars;
      }

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: scale(0.5);
      }
    }
  }

  @media (min-width: $desktop-layout-min-width) {
    [data-mobile-menu-initialed] {
      body,
      .mobile-menu,
      .mobile-menu__btn-bar {
        transition: none;
      }
    }

    .mobile-menu__btn,
    .mobile-menu {
      visibility: hidden;
    }
  }
}
