<!-- footer -->
<div class="page-footer">
  <div class="page-footer__inner">
    <div class="page-footer__logo">
      <a href="/">{% include '../logo/index.twig' %}</a>
    </div>

    <div class="page-footer__desktop-logo">
      <a href="/">{% include '../logo/index.twig' %}</a>
      <div class="page-footer__copyrights">(с) 2021 Все права защищены</div>
    </div>

    <div class="page-footer__phone-desktop" data-request-call-section>
      <div class="page-footer__phone-desktop-inner" data-btn>
        <div class="page-footer__phone">8 495 649 63 34</div>
        <div class="page-footer__phone-desktop-btn">Заказать обратный звонок</div>
      </div>
    </div>

    <a href="tel:84956496334" type="tel" class="page-footer__phone">8 495 649 63 34</a>

    <div class="page-footer__copyrights">(с) 2021 Все права защищены</div>

    <div class="page-footer__menu">
      <div class="page-footer__menu-cell">
        <a href="#" class="page-footer__menu-item">Главная</a>
      </div>

      <div class="page-footer__menu-cell">
        <a href="#" class="page-footer__menu-item">О компании</a>
      </div>

      <div class="page-footer__menu-cell">
        <a href="#" class="page-footer__menu-item">Документы</a>
      </div>

      <div class="page-footer__menu-cell">
        <a href="#" class="page-footer__menu-item">Наши сотрудники</a>
      </div>

      <div class="page-footer__menu-cell">
        <a href="#" class="page-footer__menu-item">Контакты</a>
      </div>
    </div>

    </div>
  </div>

  <div class="page-footer-bg"></div>
</div>
<!-- end footer -->
