{% extends '../../common/page-base/index.twig' %}

{% block extraClass %}with-displaced-sidebar{% endblock %}

{% block title %}Оплата юрлицо{% endblock %}

{% block content %}
  <div class="section">
    <div class="section__title">Оплата юрлицо</div>
    <div class="section__content">
      <div class="cart">
        <div class="cart__content">

          <form data-legal-entity-payment novalidate action="/legal-entity-payment" method="post">
            <div class="inputs">
              <div class="form-group">
                <input type="email" name="email" placeholder="E-mail" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="email">Некорретное значение E-mail</div>
                </div>
              </div>
              <div class="form-group">
                <input type="tel" name="phone" placeholder="Телефон" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="phone">Некорретное значение номера телефона</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="legalAddress" placeholder="Юридический адрес" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="actualAddress" placeholder="Фактический адрес" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="zip" placeholder="Почтовый адрес" pattern="^\d{5}(?:[-\s]\d{4})?$" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="pattern">Некорректное значение почтового индекса</div>
                </div>
              </div>
              <div class="form-group">
                {# ИНН - 10 цифр, КПП - 9 цифр #}
                <input type="text" name="inn" placeholder="ИНН / КПП" pattern="^\d{9,10}$" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="pattern">Некорректное значение ИНН / КПП</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="okved" placeholder="ОКВЭД" pattern="^\d{2}(\.\d{1,2})?(\.\d{1,2})?$" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="pattern">Некорректное значение ОКВЭД</div>
                </div>
              </div>
              <div class="form-group">
                {# ОГРН 13 цифр #}
                <input type="text" name="ogrn" placeholder="ОГРН" pattern="^\d{13}$" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="pattern">Некорректное ОГРН</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="okpo" placeholder="ОКПО" pattern="^(\d{10}|\d{8})$" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="pattern">Некорректное значение ОКПО</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="okato" placeholder="ОКАТО" pattern="^[\d\s]+$" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="pattern">Некорректное значение ОКАТО</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="rs" placeholder="Р/с" pattern="^\d+$" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="pattern">Некорректное значение расчётного счёта</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="ks" placeholder="К/с" pattern="^\d+$" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="pattern">Некорректное значение корреспондентского счёта
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="bank" placeholder="Банк" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="bik" placeholder="БИК" pattern="^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="pattern">Некорректное значение БИК</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="ceo" placeholder="Генеральный директор" pattern="^[а-яА-ЯёЁa-zA-Z\s-]+$"
                       required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="pattern">Некорректное значение</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="accountant" placeholder="Гл. бухгалтер" pattern="^[а-яА-ЯёЁa-zA-Z\s-]+$"
                       required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="pattern">Некорректное значение</div>
                </div>
              </div>
            </div>

            {% include '../../common/components/product-details/index.twig' %}

            {% include '../../common/components/user-agreements-checkbox/index.twig' %}

            <div class="form-submit-btn">
              <button type="submit" class="btn btn--outlined btn--green">Выставить счет на оплату</button>
            </div>

            {% include '../../common/components/back-btn/index.twig' %}
          </form>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
