<div class="desktop-menu-2">
  <a class="desktop-menu-2__item" href="/">Главная</a>
  <a class="desktop-menu-2__item" href="/">О компании</a>
  <a class="desktop-menu-2__item" href="/">Документы</a>
  <a class="desktop-menu-2__item" href="/">Топливо</a>
  <a class="desktop-menu-2__item" href="/">Наши сотрудники</a>
  <a class="desktop-menu-2__item" href="/">Контакты</a>
</div>
