.desktop-menu-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.desktop-menu-2__item {
  font-size: 19px;
  font-weight: 400;

  &,
  &:hover,
  &:visited,
  &:focus,
  &:active {
    color: #12327f;
    text-decoration: none;
    outline: none;
  }
}
