@import '../variables';
@import '../../fonts/fonts';

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  background-color: #f3f6f9;

  color: $text-color;
  font-family: 'Ibarra Real Nova', Arial, serif;
  font-size: $default-font-size;
}

.content-wrapper {
  position: relative;
  z-index: 0;
  flex: 1 0 auto;
}

.footer-wrapper {
  position: relative;
  z-index: 0;
  flex-shrink: 0;
}

p {
  color: #223039;

  margin-top: 18px;
  margin-bottom: 18px;
}

.content {
  display: block;
  //flex-shrink: 1;
  //flex-grow: 1;

  @media (min-width: $desktop-layout-min-width) {
    padding-right: 36px;
  }
}

.page-inner {
  display: block;

 @media (min-width: $desktop-layout-min-width) {
   display: flex;
   width: $desktop-layout-min-width;
   margin: 0 auto;
 }
}

.with-displaced-sidebar {
  .sidebar {
    margin-top: 35px;
  }
}
