@import '../../variables';

input {
  &[type="text"],
  &[type="number"],
  &[type="tel"],
  &[type="email"] {
    display: block;
    width: 100%;

    &,
    &:focus {
      padding: 0;
      outline: none;

      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #d6e2ed;
      padding-bottom: 6px;
    }

    background-color: transparent;

    font-size: 14px;
    color: $text-color;

    &[data-has-error] {
      border-bottom-color: #ff0000;

      & + .validation-errors {
        display: block;
      }
    }
  }
}

.validation-errors {
  display: none;

  position: absolute;
  left: 0;
  top: auto;

  box-sizing: border-box;
  padding-top: 2px;

  user-select: none;
  pointer-events: none;
}

.validation-error {
  display: none;

  &[data-is-active] {
    display: block;
  }

  color: #ff0000;
  font-size: 12px;
}
