@import '../../variables';

.form-select {
  display: block;
  width: 100%;

  background-color: transparent;
  background-image: url('./assets/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: 16px 10px;
  background-position: right;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d6e2ed;

  padding: 0 20px 6px 0;

  font-size: 18px;
  color: $text-color;

  appearance: none;

  &:focus {
    outline: none;
  }

  @media (min-width: $desktop-layout-min-width) {
    font-weight: bold;
  }
}
