<div class="cart cart--sidebar-prices">
  <div class="cart__title">Цены на нефтепродукты</div>
  <div class="cart__subtitle">на сегодня</div>
  <div class="cart__content" data-prices-sidebar>

    <div data-fuel-title-output></div>

    <!-- цены на нефтепродукты -->
    <div class="prices__radio-btns" data-prices-btns>
      <input checked type="radio" name="price" value="11.34" data-title="One">
      <input type="radio" name="price" value="34,56" data-title="Two">
      <input type="radio" name="price" value="10,54" data-title="Three">
    </div>

    <div class="price__view--desktop">
      <div class="price__view--desktop-inner">
        <div class="price__view--desktop-rub">
          <div data-rubs class="price__view--desktop-rub-title">3</div>
        </div>
        <div class="price__view--desktop-rub">
          <div data-rubs class="price__view--desktop-rub-title">3</div>
        </div>
        <div class="price__view--desktop-kop">
          <div data-kops class="price__view--desktop-kop-title">3</div>
        </div>
        <div class="price__view--desktop-kop">
          <div data-kops class="price__view--desktop-kop-title">0</div>
        </div>
        <div class="price__view--desktop-units">&#8381;/л</div>
      </div>
    </div>
    <!-- /цены на нефтепродукты -->
  </div>
</div>
