.sidebar .cart.cart--sidebar-prices {
  padding-top: 22px;

  .cart__title + .cart__content, .cart__subtitle + .cart__content {
    margin-top: 18px;
  }

  .price__view--desktop {
    margin-top: 40px;
  }
}

[data-prices-sidebar] {
  [data-prices-btns] {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin-top: 20px;
  }

  [data-fuel-title-output] {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #334c5c;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    position: relative;

    display: block;
    width: 20px;
    height: 20px;
    background: #f3f6f9;
    border: 1px solid #c3daee;
    border-radius: 50%;

    cursor: pointer;

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: '';
      display: block;
      width: 9px;
      height: 9px;
      background-color: #a0c373;
      border-radius: 50%;

      visibility: hidden;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: -14px;
      transform: translate(-50%, 5px);
      display: block;
      width: 12px;
      height: 7px;

      background-image: url('./assets/arrow.svg');
      background-repeat: no-repeat;

      opacity: 0;
      transition: opacity 1s ease, transform 0.3s ease;
    }

    &[data-selected] {
      &::before {
        visibility: visible;
      }

      &::after {
        opacity: 1;
        transform: translate(-50%, 0);
      }
    }
  }

  label + label {
    margin-left: 10px;
  }
}

.price__view--desktop {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  margin-top: 48px;
  padding-bottom: 5px;
}

.price__view--desktop-inner {
  display: block;
  width: 168px;
  height: 84px;
  position: relative;
}

.price__view--desktop-rub {
  display: block;
  width: 47px;
  height: 84px;

  position: absolute;
  top: 0;

  &:nth-child(2) {
    left: 54px;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;

    content: '';

    display: block;
    width: 47px;
    height: 42px;

    border: 1px solid #aac9e7;
    box-sizing: border-box;

    z-index: 1;
  }

  &::before {
    background: linear-gradient(to bottom, #e3eef9 0%, #c4d7e9 100%);
    top: 0;
  }

  &::after {
    top: 42px;

    background: linear-gradient(to bottom, #c4d7e9 0%, #e3eef9 100%);
  }
}

.price__view--desktop-rub-title {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  font-size: 64px;
  font-weight: bold;
  font-family: Akrobat;
  color: #000000;

  z-index: 3;

  &[data-is-hidden] {
    visibility: hidden;
  }
}

.price__view--desktop-kop {
  display: block;
  width: 28px;
  height: 46px;

  position: absolute;
  top: 0;

  left: 110px;

  &::before,
  &::after {
    position: absolute;
    left: 0;

    content: '';

    display: block;
    width: 28px;
    height: 23px;

    border: 1px solid #aac9e7;
    box-sizing: border-box;

    z-index: 1;
  }

  &::before {
    background: linear-gradient(to bottom, #e3eef9 0%, #c4d7e9 100%);
    top: 0;
  }

  &::after {
    top: 23px;

    background: linear-gradient(to bottom, #c4d7e9 0%, #e3eef9 100%);
  }
}

.price__view--desktop-kop + .price__view--desktop-kop {
  left: 142px;
}

.price__view--desktop-kop-title {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  font-size: 38px;
  font-family: Akrobat;
  color: #000000;
  font-weight: bold;

  z-index: 3;
}

.price__view--desktop-units {
  position: absolute;
  left: 110px;
  top: 58px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 26px;

  font-size: 22px;
  color: #0a3c5c;

  background-color: #53b3f6;

  user-select: none;

  &::after {
    content: '';

    position: absolute;
    left: 50px;
    top: 0;

    display: block;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;

    border-left: 16px solid #53b3f6;
  }
}
