<div class="section section--docs">
  <div class="section__content">
    <div class="cart">
      <div class="cart__title">документы</div>
      <div class="cart__content">

        <!-- document list -->
        <div class="docs__item">
          <div class="docs__item-icon">
            {% include './assets/arrow.svg' %}
          </div>
          <a class="docs__item-link" href="#" target="_blank">Договор на поставку, аренду ёмкости, перевозку
            нефтепродуктов</a>
        </div>

        <div class="docs__item">
          <div class="docs__item-icon">
            {% include '../../../common/icons/arrow-right.svg' %}
          </div>
          <a class="docs__item-link" href="#" target="_blank">Паспорта качества</a>
        </div>
        <!-- end document list -->

      </div>
    </div>
  </div>
</div>
