<div class="product-details">
  <div class="product-details__title">ТАС (Калужский НПЗ) (-15С)</div>
  <div class="product-details__details">
    <div class="product-details__detail">
      <div>Объем топлива :</div>
      <div>100 л</div>
    </div>
    <div class="product-details__detail">
      <div>Расстояние от МКАДа:</div>
      <div>30 км</div>
    </div>
  </div>

  <div class="product-details__total">
    {% include '../product-total-cost/index.twig' %}
  </div>
</div>
