.product-details {
  display: block;
  width: 100%;

  margin-top: 30px;
}

.product-details__title {
  display: block;
  width: 100%;

  font-weight: 600;
  font-size: 14px;
}

.product-details__details {
  display: table;
  width: 100%;

  margin-top: 10px;
}

.product-details__detail {
  display: table-row;
  width: 100%;

  > div {
    display: table-cell;
    padding: 6px 0;

    &:last-child {
      width: 1px;
      white-space: nowrap;

      font-size: 18px;
      font-weight: 700;
    }
  }
}

.product-details__total {
  margin-top: 10px;
}
